* {
    background-color: #E76F51;
    box-sizing: border-box;
  }
  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false
  }
  h1 {
    color: #39304A;
    font-family: system-ui;
    text-align: center;
  }
  /* pre object stuff */
  .bar {
    position: relative;
    height:20px;
    width:20px;
    background-color:clear;
    display: flex;
    justify-content: center;
    align-items: center;
    color: clear; 
    margin: 6px;
    animation: buffer 1s infinite ease-in-out alternate;
    
  }
  .bufferbox {
    position: absolute;
    border: 5px dotted clear;
    display: flex;
    flex-wrap: wrap;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%; 
  }
  /* I think it kinda looks weird with so many bars, but i had already created them with something sorta different in mind. */
  .bar:nth-child(2) {animation-delay: .05s;}
  .bar:nth-child(3) {animation-delay: .1s;}
  .bar:nth-child(4) {animation-delay: .15s;}
  .bar:nth-child(5) {animation-delay: .2s;}
  .bar:nth-child(6) {animation-delay: .25s;}
  .bar:nth-child(7) {animation-delay: .3s;}
  .bar:nth-child(8) {animation-delay: .35s;}
  
  /* ---------------end of "buffer"----------------- */
  .load-container {
    position: absolute;
    border: 5px solid clear;
    border-radius: 20%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 500px;
  }
  .load-counter{
    position: absolute;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: white;*/
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    transition: --num 5s;
    counter-set: num var(--num);
    font: 800 40px system-ui; 
    animation: load-num 5s infinite ease-in-out ;
  }
  .load-counter::before {
   content: counter(num); 
  }
  .loadbar {
    position: relative;
    color: blue;
    height: 20px;
    /*background-color: white;*/
    animation: load 5s infinite ease-in-out;
  }
  /*end of loading*/
  
  
  
  /*animations*/
  
  
  @keyframes buffer {
    from {
   
      transform: translate(0px , -50px);
    }
    50%{
      transform: translate(0px , 0px);
      background-color: clear;
    }
    to {
      background-color: #096B72;
      transform: translate(0px , 0px);
    }
  }
  
  @keyframes load {
    from {
      transform: scalex(.02);
      background-color: clear;
    }
    to {transform: scalex(1);}
    100%{background-color: #096B72;}
  }
  
  @keyframes load-num {
    from{
      color: #E76F51;
      --num: 0;
    }
    to{--num: 100;}
    100%{color: #096B72;}
  }
  
  
  
  
  
