* {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 70rem;
  }

  nav {   
    background-color: black;
    width: 100%;    
    text-align: center;
    
}

nav,a{
    color: white;
    padding: 5px;
    text-align: left;
    font-family: 'Courier New';
    text-decoration: none;
}

nav a:hover{
  animation: rainbowb .6s  infinite;

}
  
  img {
    position: relative;
    transform: translate(-100px, 0px);
    width: 15rem;
    height: 16rem;
    top: 1rem;
  }
  
  audio {
    position: relative;
    background-color: #faf9f7;
    width: 15rem;
  }
  
  body {
    background: linear-gradient(
      0deg,
      rgba(30, 28, 62, 1) 0%,
      rgba(80, 9, 121, 1) 35%,
      rgba(161, 55, 162, 1) 62%,
      rgba(179, 0, 48, 1) 100%
    );
  }
  
  .LBsection {
    background-image: url("https://64.media.tumblr.com/253224a5b1a1719664423bc30d2838aa/969a49777481525b-37/s1280x1920/fcae5afd8e7b439dd205bacf1b3353c9246bf9b4.gif");
    background-size: cover;
    text-align: center;
    padding: 3rem;
  }
  .sectextlb {
    width: 200px;
    background-color: purple;
    position: relative;
    display: inline-bloc;
    float: left;
    font-family: Courier New;
  }
  
  .CHsection {
    background-image: url("https://i.kym-cdn.com/photos/images/original/002/297/894/492.gif");
    background-size: cover;
    text-align: center;
    padding: 3rem;
  }
  .secont {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .sectextch {
    width: 200px;
    background-color: red;
    position: relative;
    display: inline-bloc;
    float: left;
    font-family: Courier New;
  }
  
  .MHsection {
    background-image: url("https://i.kinja-img.com/gawker-media/image/upload/t_original/b35oevo3jkyjzxnffew4.gif");
    background-size: cover;
    text-align: center;
    padding: 3rem;
  }
  
  .sectextmh {
    width: 200px;
    background-color: green;
    position: relative;
    display: inline-bloc;
    float: left;
    font-family: Courier New;
  }
  
  .SOsection {
    background-image: url("https://64.media.tumblr.com/8d0e6a6d22407690637257c0f0746e33/tumblr_mhtr14UnlH1qiemkoo1_500.gifv");
    background-size: cover;
    text-align: center;
    padding: 3rem;
  }
  .sectextSO {
    width: 200px;
    background-color: gold;
    position: relative;
    display: inline-bloc;
    float: left;
    font-family: Courier New;
  }
  
  @keyframes rainbowb{

    0%{
        background-color:red;
    }
    20%{
        background-color: orange;
    }
    40%{
        background-color: yellow;
    }
    60%{
        background-color: green;
    }
    80%{
        background-color: blue;
    }
    90%{
        background-color: indigo;
    }
    100%{
        background-color: violet;
    }
    
    }
