body
{
  background-color:#fbfbfb; 
  font-family: system-ui;
  padding: 10px;
  margin-left:130px; 
}
h3
{
  color:red;
}
html
{
  max-width:700px;
}
img
{
  max-width:100%; 
  width:700px;
  height:360px;
}
section
{
  line-height:1.5;
  
}
footer
{
 text-align:center; 
}
